body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/g2wgyf6fagc41.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  align-items: center;
  height:100vh;
  justify-content: center;
  overflow: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  position: relative;
  padding: 20px;
  margin: auto;
  margin-top: 2%;
  
  height: auto;
  width: 640px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;

background: linear-gradient(84deg, rgba(255, 255, 255, 0.30) -1.68%, rgba(255, 255, 255, 0.07) 49.6%, rgba(255, 255, 255, 0.07) 74.88%, rgba(255, 255, 255, 0.17) 97.68%);
backdrop-filter: blur(5.5px);
}
.butt{
  margin: auto;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  --c: #ffffffdc; /* the color */
  --b: 1px ;    /* border length*/
  --d: 5px;    /* the cube depth */
  --h: 1.8em;   /* the height */
  
  --_s: calc(var(--d) + var(--b));

  line-height: var(--h);
  color: #0000;
  text-shadow: 
    0 calc(-1*var(--_t,0em)) var(--c), 
    0 calc(var(--h) - var(--_t,0em)) #000000;
  border: solid #0000;
  overflow: hidden;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    linear-gradient(var(--c) 0 0) 100% 100%
     /101% var(--_p,0%) no-repeat,
    conic-gradient(at left var(--d)  bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(calc(var(--d)/-1),var(--d));
  clip-path: 
    polygon(
     var(--d) 0%, 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)),
     100% calc(100% - var(--d)),
     var(--d) calc(100% - var(--d))
    );
  transition: 0.5s;

}
.butt:hover{
  transform: translate(0,0);
  clip-path: 
    polygon(
     0% var(--d), 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)), 
     calc(100% - var(--d)) 100%, 
     0% 100%
   );
  --_t: var(--h);
  --_p: 105%;
}

.paragraph{
  display: inline-block;
  margin: auto;
  
  position: relative;
  color: #FFF;
  line-height: 1.1;
  font-size: 16px;
  width: 300px;
 padding: 15px;

font-style: normal;
line-height: normal;
  
}